// $color1: #f5ec84;
$color1: #F9F35A;
$color2: #524dab;
// $color_gold: #b8860b;
$color_gold: #F2869B;
$color_pink:#f288a4;
$color_blue:#0c1b3b;
$color_turq: #327379;
$color_bright_blue: #3d5b99;
$color3: #00000c;
$color4: rgb(4,4,35);
$pcolor: #b8c6d2;
$pcolor2: #ffffff;

@mixin dropshadow {
  box-shadow: 0px 5px 20px -5px #000000;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// Light / ExtraLight

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("@/assets/fonts/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("@/assets/fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "PT Serif";
  src: url("@/assets/fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$cairo-base: "Cairo", sans-serif;
$serif-base: "PT Serif", serif;

.slide-enter-from {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-active {
  transition: transform 0.5s ease, opacity 0.3s ease;
}
.slide-enter-to {
  transform: translateX(0%);
  opacity: 1;
}
.slide-leave-from {
  transform: translateX(0%);
  opacity: 1;
}
.slide-leave-active {
  transition: transform 0.5s ease, opacity 0.3s ease;
}
.slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.html_div {
  font-family: $cairo-base;
  
  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h2 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  h3 {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  h4 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    text-align:left;
    color: whitesmoke;

    @media(max-width:500px) {
      font-size:100%;
    }
  }

  strong {
    color:$color1;
  }

  em {
    font-style: italic;
  }
}

// universal scrollbar styling
.ps {
  background:transparent !important;
  position:relative;

  .ps__rail-y {
    background:rgba(0,0,0,0.3) !important;

    .ps__thumb-y {
      background:#3d5b99 !important;
    }
  }

  .ps__rail-x {
    display:none !important;
  }
}